{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#4b88df">
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{% static '/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#4b88df">

    <!-- Required for Bootstrap collapsing menus-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" /> <!--We may want to delete this one -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>

    <script src="//unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/styles/base.css' %}">

    {% block head %}
    {% endblock head %}

    <title>{% block title %}/r/anime Flair Manager{% endblock %}</title>
</head>

<body>
    <!-- header -->
    <b-navbar toggleable="md" id="navbar">
        <a class="navbar-brand" id="ranime-brand" href="https://www.reddit.com/r/anime/">
            <span class="nav-white-text align-bottom">r/anime</span>
            <img id="ranime-icon" class="align-bottom" src="{% static 'subreddit/AnimeSnoo.png' %}" alt="animesnoo">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" href="#">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link nav-white-text nav-transform-scale"href="/set">Set Flair</a></li>
                <li class="nav-item"><a class="nav-link nav-white-text nav-transform-scale" href="/wiki">Flair Wiki</a></li>
                <li class="nav-item">
                    <a id="github-link" class="nav-link" href="https://github.com/r-anime/flairsite">
                        <span class="nav-white-text">Github</span>
                        <img src="{% static 'github/GitHub-Mark-Light-32px.png' %}" alt="GitHub">
                    </a>
                </li>

                {% if request.user.is_staff %}
                <li class="nav-item"><a class="nav-link nav-white-text nav-transform-scale" href="/admin">Admin</a></li>
                {% endif %}
            </ul>
            <div class="ml-auto text-right">

                <!-- Don't display the logout section if we are not logged in -->
                {% load account %} {% user_display user as user_display %}
                {% if user_display %}
                <div class="nav-white-text">Currently logged in as <span class="nav-bold-text">{% load account %}{% user_display user %} {% load account socialaccount %}</span></div>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" id="logoutNext" value=""/>
                    <b-button class="nav-white-text" id="logout-btn" type="submit">Log out</b-button>
                </form>

                {% endif %}
            </div>
        </div>
    </b-navbar>
    <!-- end header -->

    <!-- messages -->
    {% if messages %}
    {% for message in messages %}
    <b-alert show dismissible fade variant="{{ message.tags }}" id="message-{{ forloop.counter0 }}">{{ message }}</b-alert>
    <script>
        new Vue({
            el: "#message-{{ forloop.counter0 }}",
        });
    </script>
    {% endfor %}
    {% endif %}
    <!-- end messages -->

    <div class="container-md">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        new Vue({
            el: '#navbar',
        });
    </script>
    <script src="{% static 'js/logout-button.js' %}"></script>
</body>
</html>