{% extends "account/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Set flair{% endblock %}


{% block content %}

<script src="{% static 'js/setflair.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static '/styles/setflair.css' %}">

<form action="/submit" method="post">
    {% csrf_token %}
    <div class="container custom-container">
        <div class="row">
            <div class="col-md">
                <div class="section-title-grey">Please select your <span class="section-title-emphasis">Anime Tracking</span> flair:</div>

                <div class="flair-list">
                    <label for="notracker">
                    <div class="list-card" onclick="toggleCard()">
                        <input type="radio" id="notracker" name="defaultflair" value="notracker" checked="checked" onclick="setAccountTrackerNotRequired()" required>
                        <label class="form-check-label" for="notracker">No Tracker</label>
                    </div>
                    </label>
                        {% for flairtype in default_flairs %}
                        {% if flairtype.flair_type == "default" %}
                        <label for="{{flairtype.display_name}}">
                        <div class="list-card">
                            {% if flairtype.display_name == tracker_name %}
                                <input type="radio" id="{{flairtype.display_name}}" name="defaultflair" value="{{flairtype.display_name}}" onclick="setAccountTrackerRequired()" checked="checked">
                            {% else %}
                                <input type="radio" id="{{flairtype.display_name}}" name="defaultflair" value="{{flairtype.display_name}}" onclick="setAccountTrackerRequired()">
                            {% endif %}
                            <label class="form-check-label" for="{{flairtype.display_name}}">{{flairtype.display_name}}</label>
                            <img src="{{flairtype.static_image}}">
                        </div>
                        </label>
                        {% endif %}
                    {% endfor %}           
                </div>
            </div>

            <div class="col-md">
                {%if allowed_flairs %}
                <!-- only display award flairs if they have any  -->
                <div class="section-title-grey">Select any number of additional <span class="section-title-emphasis">Awarded</span> flairs:</div>
        
                <div class="flair-list">
                        {% for flair_awarded in allowed_flairs %}
                        <label for="flairChoice{{flair_awarded.flair_id.id}}">
                        <div class="list-card">
                            {%if flair_awarded.flair_id.checked == True %}
                            <input type="checkbox" id="flairChoice{{flair_awarded.flair_id.id}}"
                                name="flairtype_{{flair_awarded.flair_id.display_name}}" value="{{flair_awarded.flair_id.display_name}}"
                                checked="checked">
                            {% else %}
                            <input type="checkbox" id="flairChoice{{flair_awarded.flair_id.id}}"
                                name="flairtype_{{flair_awarded.flair_id.display_name}}" value="{{flair_awarded.flair_id.display_name}}">
                            {% endif %}
                            <label for="flairChoice{{flair_awarded.flair_id.id}}">{{flair_awarded.flair_id}} </label>
                            <img src="{{flair_awarded.flair_id.static_image}}">
                        </div>
                        </label>
                        {% endfor %}
                {% endif %}
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                    <div id="account-inner-container">
                        <div id="label-disclaimer-container">
                            <small class="form-text text-muted">* Not the full URL</small>
                            <label class="section-title-grey" for="trackerAccountName">Anime Tracker <span class="section-title-emphasis">Account Name</span>:</label>
                        </div>
                        {% if tracker_name == "notracker" %}
                            <!--No tracker, text not required-->
                            <input class="form-control" type="text" id="trackerAccountName" name="trackerAccountName" value="{{tracker_user_account_name}}" placeholder="e.g: https://myanimelist.net/animelist/[ThisUsername]" minlength="3" maxlength="20" disabled="disabled">
                        {% else %}
                            <!--Has tracker so text required-->
                            <input class="form-control" type="text" id="trackerAccountName" name="trackerAccountName" value="{{tracker_user_account_name}}" placeholder="e.g: https://myanimelist.net/animelist/[ThisUsername]" minlength="3" maxlength="20" required>
                        {% endif %}
                        <div id="input-container">
                            <input class="blue-input" type="submit" value="Reset Flair" name="flair_reset_request">
                            <input class="blue-input" type="submit" value="Submit" name="flair_change_request">
                        </div> 
                </div>
            </div>
            <div class="col-md">
                {% if current_emoji_flair_list|length >= 1 or current_flair_text|length > 0 %}
                <div class="section-title-grey" id="flair-preview">Flair Preview:</div>

                    <div id="{{tracker_name}}box" class="track-box" style="color:white">
                        {% for flair_image in current_emoji_flair_list %}
                            <img class="d-inline-block align-top" src="{{flair_image.static_image}}">
                        {% endfor %}
                        <a href="{{current_flair_url}}" target="_blank" style="color:white">{{current_flair_text}}</a>
                    </div>
                {% else %}
                    <!--User has not set a flair yet. -->
                {% endif %}
            </div>
        </div>

    </div>
</form>



{% endblock %}