body {background-color: #FBFBFB;}
html,body {
    height: 100%;
}


/* Nav bar styles */

#navbar {
    background-color: #6A9EE5;
}

.nav-light {
    color:white;
}
/*Select all the pieces of text in the nav bar*/
.nav-white-text, .navbar-nav .nav-link.nav-white-text {
    color: white;
    font-weight: 400;
}

.navbar-nav .nav-link.nav-white-text:hover {
    color: white;
}

.nav-bold-text {
    font-weight: 700;
}


/* Collapse Menu */
.navbar-toggler .navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

#navbarSupportedContent {
    margin-top: 30px;
}

/* Individual navbar components */

#logout-btn {
    font-weight: 100;
    text-decoration: underline;
    padding: 0px;
    background-color: rgba(255, 0, 0, 0.0);
    border-color: rgba(255, 0, 0, 0.0);
}

#ranime-brand.navbar-brand {
    padding: 0px;
    position:relative;
    bottom:-9px;
}

img#ranime-icon{
    height: 60px;
    width: 48px;
}

#github-link{
    padding: 8px 0px;
}

#github-link img{
    display: none;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    .nav-transform-scale:hover{
        transform: scale(1.1,1.1);
    }

    #navbarSupportedContent {
        margin-top: 0px;
    }

    #github-link {
        /* Center this manually because bootstrap is a pain */
        display: flex;
        flex-direction: row;
        align-items: center;
        /* Same spacing between the border and the other items, as other items have between each other */
        margin-left: 8px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 10px;
    }

    #github-link img{
        display: block;
        width: 28px;
        height: 28px;
    }

    #github-link .nav-white-text{
        color: white;
        font-weight: 700;
        margin-right: 5px;
    }

}

/* Reusable for all pages */

/* Section Titles*/  
.section-title-grey {
    font-size: larger;
    color: #474747;
  }
  
  .section-title-emphasis {
    text-decoration: underline;
    font-weight: 800;
  }

  /* List views */

  .list-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 200px;
    -webkit-box-shadow: 0px 0px 17px -5px #858585; 
    box-shadow: 0px 0px 17px -5px #858585;
    border-radius: 8px;
  }

  .flair-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
    max-height: 50vh;
    /* Stupid scroll views always requiring dirty hacks to make things pretty */
    margin: 0px -32px;
    padding: 0px 32px;
  }