#trackerAccountName.form-control {
  width: 15vw;
}


/* Previews */
#notrackerbox {
  border: 1px solid black ;
  background-color: #dadada ;
}

#MALbox {
  border: 1px solid black ;
  background-color: #2e51a2 ;
}

#animeplanetbox {
  border: 1px solid black ;
  background-color: #13e9f7 ;
}

#Kitsubox {
  border: 1px solid black ;
  background-color: #fd755c ;
}

#Anilistbox {
  border: 1px solid black ;
  background-color: #02a9ff ;
}

#Anidbbox {
  border: 1px solid black ;
  background-color: #ffaa55 ;
}






