.custom-container {
  margin-top: 20px;
}

/* Section Titles ----- TODO: Maybe move these to a reusable .css file since we'll use them for the wiki page*/  
.section-title-grey {
  font-size: larger;
  color: #474747;
}

.section-title-emphasis {
  text-decoration: underline;
  font-weight: 800;
}


/* Account name and submit form */
#trackerAccountName.form-control {
  width: 100%;
}

#account-inner-container {
  display: flex;
  flex-direction: column;
}

#label-disclaimer-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

#account-inner-container small{
  align-self: flex-end;
}

#input-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.blue-input {
  background-color: #6A9EE5;
  width: 100px;
  height: 30px;
  margin-left: 5px;
  border-style: none;
  color: white;
  border-radius: 5px;
  font-weight: 200;
}


/* Lists */
.flair-list{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  align-items: flex-start;
}

.list-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 17px -5px #858585; 
  box-shadow: 0px 0px 17px -5px #858585;
  border-radius: 8px;
}

.list-card label{
  color: #474747;
  margin-left: 8px;
  margin-bottom: 0px;
}

.list-card img {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

/* Previews */

#flair-preview {
  margin-top: 23px; /* Small hack just align the titles, am too lazy to figure out a better way*/
}

.track-box {
  border: 1px solid black;
  margin-top: 8px;
}
#notrackerbox {
  background-color: #dadada ;
}

#MALbox {
  background-color: #2e51a2 ;
}

#animeplanetbox {
  background-color: #13e9f7 ;
}

#Kitsubox {
  background-color: #fd755c ;
}

#Anilistbox {
  background-color: #02a9ff ;
}

#Anidbbox {
  background-color: #ffaa55 ;
}






