/* Account name and submit form */
#trackerAccountName.form-control {
  width: 100%;
}

#account-inner-container {
  display: flex;
  flex-direction: column;
}

#label-disclaimer-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

#account-inner-container small{
  align-self: flex-end;
}

#input-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.blue-input {
  background-color: #6A9EE5;
  width: 100px;
  height: 30px;
  margin-left: 5px;
  border-style: none;
  color: white;
  border-radius: 5px;
  font-weight: 200;
}


/* Lists */
.list-card label{
  color: #474747;
  margin-left: 8px;
  margin-bottom: 0px;
}

.flair-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  max-height: 50vh;
  /* Stupid scroll views always requiring dirty hacks to make things pretty */
  margin: 0px -32px;
  padding: 0px 32px;
}

/* Previews */

#flair-preview {
  margin-top: 23px; /* Small hack just align the titles, am too lazy to figure out a better way*/
}

.track-box {
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 16px;
}
#notrackerbox {
  background-color: #dadada ;
}

#MALbox {
  background-color: #2e51a2 ;
}

#animeplanetbox {
  background-color: #13e9f7 ;
}

#Kitsubox {
  background-color: #fd755c ;
}

#Anilistbox {
  background-color: #02a9ff ;
}

#Anidbbox {
  background-color: #ffaa55 ;
}






